
.btn-wrap{padding: 0 0.75rem;}
.button-danger.button-fill{  height: 2rem;
  line-height: 2rem;}
.bar .button{top:.25rem;  font-size: .85rem;}
.button-danger.button-fill{  background-color: #ee4a49;} 